<!-- header things in main appliaction file -->

<h1>Welcome to your maps!</h1>

<div class="main"></div>

<!-- <section class="main-content">

  <section class="personal-routes">
    routes will be listed here in a list
    <ul>

    </ul>

  </section>
  <section class="map-section">
    Map will go here
    <div id="map">

    </div>

    <script async defer
      src="https://maps.googleapis.com/maps/js?key=AIzaSyARn3LzSOruny-7bCgJbB7L8BAoVwNthqE&v=3&callback=initMap">

    </script>
  </section>
  <section class="friend-routes">

    Friend data goes here
    <div class="">
      <ul>

      </ul>
    </div>

  </section>
</section> -->
